@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  /* max-width: 500px; */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.card-container {
  border-radius: 8px;
  background-color: #d8c4ad;
  margin: 16px;
  color: #000;
  padding: 8px;
}

.tab-container{
  flex: 1;
  display: flex;
  flex-direction: row;
  position: fixed;
  bottom: 0px;
  background-color: 	#a4d4d7;
  width: 100%;
  padding: 4px;
  /* max-width: 500px; */
  justify-content: space-between !important;
}

.tab-container button {
  margin-bottom: 0px;
  padding-top: 0;
}

.tab-container .MuiTabs-flexContainer.css-heg063-MuiTabs-flexContainer{
  justify-content: space-around !important;
}

.tab-container .MuiTabs-flexContainer.css-heg063-MuiTabs-flexContainer > button{
  
  padding: 8px;
}
.tab-container .MuiTabs-flexContainer.css-heg063-MuiTabs-flexContainer > button>svg{
  width: 34px;
  height: 34px;
}